#technologys {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 0 20px;
  margin: 90px 0 30px;
  border-bottom: 0.1em solid rgb(83, 83, 83);
  scroll-margin-top: 80px; 

  .grid-itens {
    display: grid;

    margin: 2% 10% 4%;
    row-gap: 5%;
    column-gap: 3%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }

  .item {
    padding: 5px 4px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 10%;

    img {
      background: transparent;
      width: 50px;
      height: 50px;
    }
  }

}